<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="foo" class="com.popwerjun.spring.Foo">
    </bean>
    <bean id="foo2" class="com.popwerjun.spring.Foo2">
        <property name="foo" ref="foo"/>
    </bean>
    <alias name="foo" alias="foo3"/>
    <alias name="foo" alias="foo4"/>

    <bean name="clientService" class="com.popwerjun.spring.ClientService" factory-method="createInstance"/>

    <bean name="serviceLocator" class="com.popwerjun.spring.DefaultServiceLocator"/>
    <bean name="clientService2" factory-bean="serviceLocator" factory-method="createClientService"/>

</beans>